@model IEnumerable<Carpool.Models.Trip>

@{
    ViewBag.Title = "Home Page";
}

<h2>Home page</h2>

@if (Session["Id"] == null)
{
    <div class="jumbotron">
        <p>
            Carpool is  a website permitting you to organize trips with your neighbours. This will permit you to pay less money for your trips.
        </p>
        <p>
            Doing this have another effect, if you care about the environement, using this website will directly act on the environment by reducing the pollution created by every car user alone.
            Don't hesitate to speak about this website to your neighbourhood, it's a win-win situation for everyone so why not?
        </p>
    </div>
}
else
{
    <p class="lead">
        Incoming trips near you
    </p>

    foreach (var trip in Model)
    {
        <div class="col-md-10 trip">
            <div class="col-sm-3">
                <p>Destination: @trip.Address.Line1</p>
                <p>@trip.Address.Line2</p>
                <p>@trip.Address.PostalCode @trip.Address.City.Name</p>
            </div>

            <div class="col-sm-3">
                <p>@trip.Address.City.Country.Name</p>
                <p>Number of persons: @trip.NumberOfPlaces</p>
                <p>Price per person: £@trip.Price</p>
            </div>

            <div class="col-sm-3">
                <p>Closing: @trip.Closing.ToString("dd/MM/yyyy HH:mm")</p>
                <p>Beginning: @trip.Beginning.ToString("dd/MM/yyyy HH:mm")</p>
                <p>Estimated duration: @trip.Duration</p>
            </div>

            @if (Session["Id"] != null)
            {
                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
                    <span class="btn btn-primary join-trip" id="@trip.Id">Join</span>
                </div>
            }
        </div>
    }

    @Scripts.Render("~/bundles/joinTrip")
}