@model Carpool.Models.Trip

@{
    ViewBag.Title = "Create a trip";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery-ui")
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script>
    $(function () {
        $(".datepicker").datepicker();
    });
</script>

<h2>Create a trip</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.NumberOfPlaces, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NumberOfPlaces, new { htmlAttributes = new { @class = "form-control", @placeholder = "Not including you" } })
            @Html.ValidationMessageFor(model => model.NumberOfPlaces, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            @Html.TextBox("price", "", new { htmlAttributes = new { @class = "form-control", @placeholder = "The price for the trip" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Beginning, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            @Html.TextBox("pBeginningDate", Model.Beginning.ToString("dd/MM/yyyy"), new { @class = "form-control datepicker" })
        </div>
    </div>

    <div class="form-group">
        <label for="pHourStart" class="control-label col-md-2 required">Beginning hour</label>
        <div class="col-md-10">
            @Html.TextBox("pBeginningHour", Model.Beginning.ToString("HH:mm"), new { @placeholder = "hh:mm", @id = "pHourStart", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Closing, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            @Html.TextBox("pClosingDate", Model.Closing.ToString("dd/MM/yyyy"), new { @class = "form-control datepicker" })
        </div>
    </div>

    <div class="form-group">
        <label for="pHourClose" class="control-label col-md-2 required">Closing hour</label>
        <div class="col-md-10">
            @Html.TextBox("pClosingHour", Model.Beginning.ToString("HH:mm"), new { @placeholder = "hh:mm", @id = "pHourClose", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control", @placeholder = "Time on the spot in minutes" } })
            @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address.Line1, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Address.Line1, new { htmlAttributes = new { @class = "form-control", @placeholder = "The first line of the address" } })
            @Html.ValidationMessageFor(model => model.Address.Line1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address.Line2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Address.Line2, new { htmlAttributes = new { @class = "form-control", @placeholder = "The second line of the address, if necessary" } })
            @Html.ValidationMessageFor(model => model.Address.Line2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address.PostalCode, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Address.PostalCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "The postal code of the address" } })
            @Html.ValidationMessageFor(model => model.Address.PostalCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address.City.Name, htmlAttributes: new { @class = "control-label col-md-2 required" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Address.City.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "The nearest city the address is from" } })
            @Html.ValidationMessageFor(model => model.Address.City.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address.City.Country.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Address.City.Country.Id, (SelectList)ViewBag.CountriesList, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Address.City.Country, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row text-center">
        <p class="control-label col-md-3">* = Compulsory fields</p>

        <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
            @Html.ActionLink("Cancel", "ManageTrips", "Trip", new { @class = "btn btn-default hvr-icon-back NewsBtnDelet" })
        </div>

        <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}